footer{
    margin-top: 4rem;
}
.ul{
    display: flex;
    gap: 30rem;
    padding-left: 2rem;
    justify-content: center;
}
li{
    line-height: 2;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}